<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png"> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <script defer src="/vendor/fontawesome/js/brands.js"></script>
  <script defer src="/vendor/fontawesome/js/solid.js"></script>
  <script defer src="/vendor/fontawesome/js/fontawesome.js"></script>
  <script defer src="/scripts/messages.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_nav') %>
  </header>

  <main>

    <div class="album pt-5">
      <div class="container">
        <div class="row align-items-md-stretch">
          <div class="col-md-6 ">
            <div class="p-5 bg-light border rounded-3">
              <img class="bd-placeholder-img card-img-top h-100" width="100%" height="225" src="<%=item.photo%>"
                aria-label="Placeholder: Thumbnail" focusable="false">
              <div class="card-body h-100">
                <p class="card-text fs-5 fw-normal">
                  <%=item.title %>
                </p>
                <p class="card-text">
                  <%=item.description %>
                </p>
                <p class="fs-5 ">$<%=item.price%>
                </p>
              </div>
            </div>
            <section class="seller-options">
              <% if(item.isSeller) { %>
                <form method="POST" action="/users/deletelisting">
                  <input type="hidden" name="listingID" value="<%=item.id%>" id="listingID" />
                  <button class="w-40 btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
                <form method="POST" action="/users/sold">
                  <% if (!item.sold_to) { %>
                    <form class="needs-validation" novalidate>
                      <div class="input-group has-validation">
                        <input type="email" name="buyerEmail" id="buyerEmail" Placeholder="Enter buyer's email"
                          required>
                        <div class="invalid-feedback">
                          Buyer's email is required.
                        </div>
                        <input type="hidden" name="listingID" value="<%=item.id%>" id="listingID" />
                        <button class="soldButton w-40 btn btn-sm btn-warning" type="submit">Mark as Sold</button>
                      </div>
                    </form>
                    <% } %>
                    <% if (item.sold_to) { %>
                      <p class="fs-5 " style="color: red">SOLD!
                      </p>
                    <% } %>
                </form>
                <% } %>
            </section>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <%- include('partials/_chat') %>
          </div>
        </div>
      </div>
    </div>
    </div>

  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <script src="scripts/header.js"></script>


</body>

</html>
